<a href="https://colab.research.google.com/github/flexycode/CCINCOML_EXERCISES_COM23P/blob/main/exercise6/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [1]:
# Create a list called "month" containing all the months in a year
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

# Print the list of months
print(month)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [2]:
# Create a list called "month" containing all the months in a year
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Print the fourth element which is 'April' in the month list
print(month[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [3]:
# Create a list of all the months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Slice the list to get the last 4 months
last_four_months = months[-4:]

# Print the last four months
print(last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [4]:
# Define the month list
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Use slicing to get the first 4 months
first_four_months = month[:4]

# Print the result
print(first_four_months)

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [5]:
# Create a list of months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Get the size of the month list using the len() method
num_of_months = len(months)

# Print the size of the month list
print("The size of the month list is:", num_of_months)

The size of the month list is: 12

- Get the element with the largest value of the month list using `max()`

In [6]:
# Define the list of months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Find the element with the largest value using the max() function
largest_month = max(months)

# Print the result
print("The element with the largest value in the list is:", largest_month)

The element with the largest value in the list is: September

- Get the element with the smallest value of the month list using `min()`

In [7]:
# Define a list of months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Find the element with the smallest value using the min() function
smallest_month = min(months)

# Print the result
print("The month with the smallest value is:", smallest_month)

The month with the smallest value is: April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [8]:
# Define a list of months
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Use the sorted() function to sort the months in alphabetical order
sorted_months = sorted(months)

# Print the sorted months
for month in sorted_months:
    print(month)

April
August
December
February
January
July
June
March
May
November
October
September

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [9]:
def get_birthdate():
    # Create a tuple with the birthdate elements
    birthdate = (12, 30, 1995)  # Replace with your actual birthdate

    # Unpack the tuple into separate variables
    month, day, year = birthdate

    # Return the individual elements
    return month, day, year

# Call the function and print the result
print(get_birthdate())

(12, 30, 1995)

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [11]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [1]:
# Define the products list
products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

# Convert the products list into a set
unique_products = set(products)

# Print the unique products
print(unique_products)

{'keyboard', 'mouse', 'projector', 'headphones', 'speakers', 'powerbank', 'printer', 'monitor', 'laptop', 'smartphone', 'tablet'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [2]:
# Define the products list
products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

# Function to verify if "headphones" exists in the products set
def verify_headphones(products_set):
    # Use the 'in' operator to check if "headphones" is in the set
    if "headphones" in products_set:
        return True
    else:
        return False

# Call the function and print the result
print(verify_headphones(products))

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [3]:
# Create a dictionary of favorites
favorites = {
    'food': 'bulalo',
    'color': 'purple',
    'sport': 'basketball',
    'drink': 'sprite',
    'dessert': 'avocado salad'
}

# Print the dictionary
print(favorites)

{'food': 'bulalo', 'color': 'purple', 'sport': 'basketball', 'drink': 'sprite', 'dessert': 'avocado salad'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [8]:
# Define the month list
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Iterate through each element of the month list
for m in month:

    # Print each element
    print(m)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [9]:
# Define the month list
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Loop through each month in the list
for month in months:
    # Check if the month ends with "ber"
    if month.endswith('ber'):
        # Display the month
        print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [10]:
# Define the list of months
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

# Loop through each month in the list
for month in months:
    # Check if the month does not end with "ber"
    if not month.endswith("ber"):
        # Display the month
        print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [11]:
# Displaying firstname five times using a for loop and range()

firstname = "Jay Arre"

for i in range(5):
    print(firstname)

Jay Arre
Jay Arre
Jay Arre
Jay Arre
Jay Arre

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [12]:
# Define the names list
names = ["Luka Dončić", "Kento Yamazaki", "Lee Jiwoo", "Eimi Fukada"]

# Create an empty usernames list
usernames = []

# Iterate over each name in the names list
for name in names:
    # Convert the name to lowercase and replace spaces with underscores
    username = name.lower().replace(" ", "_")
    # Append the username to the usernames list
    usernames.append(username)

# Print the usernames list
print(usernames)

['luka_dončić', 'kento_yamazaki', 'lee_jiwoo', 'eimi_fukada']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [14]:
# Define the list of months
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

# Iterate through the month list
for m in month:
    # Check if the element ends with "ber"
    if m.endswith("ber"):
        break
    # Print the month
    print(m)

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [27]:
# Define a function to calculate population density
def population_density(population, land_area):
    population_density = population / land_area
    return population_density

# Call the function with the given population and land area values
density = population_density(5000, 100)

# Print the calculated population density
print(density)

50.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [22]:
def averagesteps(steps_list):
    """
    Compute the average number of steps taken per day.

    Parameters:
    - steps_list (list): List of integers representing the number of steps taken each day.

    Returns:
    - average (float): Average number of steps taken per day.
    """
    total_steps = sum(steps_list)
    num_days = len(steps_list)
    average = total_steps / num_days
    return average

# Create a list of average steps taken each day
steps_per_day = [5000, 6000, 7000, 8000, 9000, 10000, 11000]

# Call the averagesteps() function and print the result
average = averagesteps(steps_per_day)
print("Average number of steps per day:", average)

Average number of steps per day: 8000.0